<div class="book-carousel">
  <% if current_user.list.items.length > 5 %>
  <a href="#" id="previous">
    <i class="fa fa-chevron-left"></i>
  </a>
  <% end %>
  <div class="carousel-slice-container">
    <% current_user.list.items.each_slice(5).with_index do |item_slice, index| %>
    <%= render partial: "lists/book_carousel_slice", locals: { item_slice: item_slice, index: index } %>
    <% end %>
  </div>
  <% if current_user.list.items.length > 5 %>
  <a href="#" id="next">
    <i class="fa fa-chevron-right"></i>
  </a>
  <% end %>
</div>
