<div class="welcome-text-container">
  <h2>
    Hello, welcome to <span>Epiclist</span>
  </h2>
  <h3>
    Get started with your list, try adding a book
  </h3>
  <%= link_to new_list_item_path, class: "btn-base btn-blue" do  %>
  Add a book +
  <% end %>
</div>