

$('#results').empty()

<% if @results.nil? %>
  $('#results').append("<li>No results found </li>");
<% else %>


<% @results.each_with_index do |item, index| %>
  // Create a paragraph for the new review. But hide it.
  var searchItem = $("<%= j render 'lists/list_item', item: item, index: index, preview: true %>").hide();
  // Add it to the DOM, at the end of the existing reviews. It's still hidden.
  $('#results').append(searchItem);
  // Show the new review with an animation!
  searchItem.slideDown();

<% end %>


  // Reset the form
  // $('#new-search').html("<%= j render 'shared/search_form' %>");
  // TODO Mogelijk om snel nieuwe search te beginnen of om bestaande search aan te passen?
<% end %>

