<% if current_user.list.items.count < 10 %>
  <div class="button-right-container">
    <%= link_to "Add books", new_list_item_path, class: "btn-base btn-blue"  %>
  </div>
<% end %>
<ul class="list-cards">
<% @items.each_with_index do |item, index| %>
  <%= render partial: "list_item", locals: { item: item, index: index, preview: false } %>
<% end %>
</ul>
