// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$black: #4D4D4D;
$gray: #968F8F;
$light-gray: #968F8F;

$brand-color: #45C0FF;
$background-color: #F4F4F4;