.general-layout {
  width: 100%;
  min-height: calc(100vh - 302px);
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 20% 80%;
  .user-info {
    padding-right: 25px;
    span {
      font-size: 14px;
      color: $light-gray;
    }
  }
  .button-right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .content {
    min-height: 400px;
  }
}

.user-info .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  img {
    height: 75px;
    margin-right: 10px;
  }
  h3 {
    margin: 0;
    font-weight: 700;
    color: $light-gray;
  }
}

.user-info .bottom {
  .tags {
    margin: 15px 0;
  }
  .description {
    font-size: 14px;
    font-style: italic;
    line-height: 23px;
  }
}