<div class="footer">
  <div class="social-share">
    <div class="fb-share-button" data-href="https://epicl.ist" data-layout="button" data-size="large" data-mobile-iframe="true">
      <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fepicl.ist%2F&amp;src=sdkpreparse">
        Share
      </a>
    </div>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Look%20at%20my%20list%20now%20on " data-size="large">
      Tweet
    </a>
  </div>
</div>
