<div class="user-info">
  <% if user_signed_in? %>
  <div class="top">
    <%= image_tag current_user.profile_large %>
    <h3>
      <%= current_user.full_name %>
    </h3>
  </div>
  <div class="bottom">
    <div class="tags">
      <span>
        #scifi
      </span>
      <span>
        #thriller
      </span>
      <span>
        #lostinspace
      </span>
      <span>
        #romance
      </span>
      <span>
        #adventure
      </span>
    </div>
    <div class="description">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut earum eveniet atque eaque, tenetur minima iste repellendus dolore omnis facilis.
      </p>
    </div>
  </div>
  <% end %>
</div>