<div class="user-info">
  <% if user_signed_in? %>
  <div class="top">
    <%= image_tag current_user.profile_large %>
    <h3>
      <%= current_user.full_name %>
      <span>
      <%= link_to edit_user_registration_path(current_user), class: "btn-text-gray btn-yellow-text-hover" do %>
      <i class="fa fa-pencil"></i>
      <% end %>
      </span>
    </h3>
  </div>
  <div class="bottom">
    <div class="tags">
      <span>
        #scifi
      </span>
      <span>
        #thriller
      </span>
      <span>
        #lostinspace
      </span>
      <span>
        #romance
      </span>
      <span>
        #adventure
      </span>
    </div>
    <div class="description">
      <p>
        <%= current_user.description %>
      </p>
    </div>
  </div>
  <% end %>
</div>
