<div class="newsletter-container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    <h4>
      Want to receive a <strong>featured booklist</strong> in your mail <strong>every month</strong>? 
    </h4>
    <h5>
      Look no further - <strong>sign up</strong> to our mailinglist now
    </h5>
      <form action="/" class="form-inline newsletter-form">
        <div class="form-group query_query">
          <input type="text" name="email" class="form-control" placeholder="yourname@yourmail.com">
        </div>
        <input type="submit" class="btn-base btn-blue">
      </form>
      <p class="disclaimer">
        *No spam - we promise
      </p>
    </div>
  </div>
</div>