<div class="book-info-container">
  <%= render partial: "lists/book_actions" %>
  <%= render partial: "lists/book_info", locals: { item: @item } %>
  <%= render partial: "lists/book_carousel", locals: { items: @items } %>
</div>