.book-carousel-slice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .carousel-image {
    height: 170px;
  }
  .book-carousel-item {
    box-shadow: -2px -2px 6px rgba(1,1,1,0.3);
    button {
      border: none;
      background-color: transparent;
      padding: 0;
    }
  }
}

.book-carousel {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #previous, #next {
    margin: 0 10px;
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}

.carousel-slice-container {
  flex: 1 0 auto;
  display: flex;
}
