.book-carousel-slice {
  display: flex;
  justify-content: space-between;
  width: 100%;
  .carousel-image {
    height: 170px;
  }
}

.book-carousel {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  #previous, #next {
    margin: 0 10px;
    color: $gray;
    text-decoration: none;
    &:hover {
      color: $gray;
      text-decoration: none;
    }
  }
}

.carousel-slice-container {
  flex: 1 0 auto;
  display: flex;
}