.btn-facebook {
  background-color: #3B5998;
  color: white;
  padding: 5px 15px;
  display: block;
  width: 250px;
  margin: 10px 0;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
    color: white;
  }
}

.btn-blue {
  border: none;
  background-color: $brand-color;
  color: white;
  padding: 5px 20px;
  margin: 20px 0;
  box-shadow: 1px 1px 4px rgba(1,1,1,0.2);
}