.footer {
  width: 100%;
  height: 150px;
  border-top: 1px solid gray;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  .social-share {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .share {
    width: 100%;
    text-align: center;
  }
  .buttons {
    display: flex;
  }
}
