.list-link {
  text-decoration: none;
  color: $gray;
  width: 100%;
  &:hover, &:visited, &:active, &:focus {
    text-decoration: none;
    color: $gray;
  }
}

ul.list-cards, ul#results {
  list-style: none;
  padding-left: 80px;
}

.list-item.reverse {
  flex-direction: row-reverse;
}
.list-container {
  border: 1px solid white;
  display: flex;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
  margin: 0px 0px 80px 0px;
  &:hover {
    border: 1px solid rgba(1,1,1,0.1);
  }
  .list-item {
    min-height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 200ms ease;
    background-color: white;
    padding: 15px 0px 15px 0px;
    img {
      width: 80px;
    }
    .list-description p {
      font-size: 12px;
      line-height: 22px;
    }
  }
  .add-item {
    flex: 0 0 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.list-item.normal .list-body {
  padding-left: 30px;
  flex: 1 0 80%;
}

.list-item.reverse .list-body {
  padding-right: 30px;
  flex: 1 0 80%;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  h3 {
    font-size: 18px;
    color: $black;
    margin-top: 0;
    margin-bottom: 15px;
  }
  .additional-info {
    font-size: 15px;
    flex: 0 0 40%;
    display: flex;
    justify-content: flex-end;
    color: $light-gray;
    em {
      margin-left: 5px;
    }
  }
}

